# MongoDB Connection String (e.g. mongodb://127.0.0.1:27017/recipe_sharing_db or Atlas URI)
MONGO_URI=mongodb://127.0.0.1:27017/recipe_sharing_db

# Database Name
DB_NAME=recipe_sharing_db

# Environment
NODE_ENV=development
